* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  background-color: blue;
}

h1 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
}

.about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.about .about-items {
  padding: 5rem 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about .about-items h4 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: serif;
  padding-bottom: 2rem;
}
.about .about-items p {
  font-size: 1.3rem;
  font-family: serif;
  font-weight: 500;
}

.why {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 7rem;
}
.why h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: serif;
  padding-bottom: 4rem;
  text-align: center;
}
.why .why-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.why .why-items div {
  width: 100%;
  height: 17rem;
  background-color: #276d60;
  padding: 1rem;
  border-radius: 0 0 0 3rem;
  padding: 2rem;
  -webkit-box-shadow: 1px 1px 10px #276d60;
          box-shadow: 1px 1px 10px #276d60;
}
.why .why-items div h4 {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: serif;
  padding-bottom: 2rem;
  text-align: start;
}
.why .why-items div p {
  font-size: 1.1rem;
  font-family: serif;
}

.value {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.value h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: serif;
  padding-bottom: 4rem;
  text-align: center;
}
.value .value-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.value .value-items div {
  width: 100%;
  height: 17rem;
  background-color: #276d60;
  padding: 1rem;
  border-radius: 0 3rem 0 3rem;
  color: white;
  padding: 2rem;
  -webkit-box-shadow: 1px 1px 10px #276d60;
          box-shadow: 1px 1px 10px #276d60;
}
.value .value-items div h3 {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: serif;
  padding-bottom: 2rem;
  text-align: start;
}
.value .value-items div p {
  font-size: 1.1rem;
  font-family: serif;
}

.await {
  text-align: center;
  padding: 5rem 7rem;
}
.await .await-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.await .await-item h4 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}
.await .await-item p {
  font-size: 1.3rem;
  padding: 0 10rem;
  padding-bottom: 1.5rem;
}
.await .await-item h5 {
  font-size: 1.1rem;
  font-family: serif;
}

.join {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.join .join-us {
  padding: 5rem 7rem;
}
.join .join-us p {
  font-size: 1.3rem;
  padding: 0 10rem;
  padding-bottom: 1.5rem;
}
.join .join-us h5 {
  font-size: 1.1rem;
  font-weight: 600;
}