@import"./variable";
@import"./navbar";
@import"./mixins";
@import"./mediaquery";
@import"./contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width:100%;
  background-color:blue;
}

.scrollToTop {
  @include scrolltop ();
}

.iframe {
  @include map ();
}

.contact {
  @include contact-1 ();
}
